---
- name: Allow HTTP/HTTPS through firewalld
  ansible.builtin.firewalld:
    service: "{{ item }}"
    zone: public
    permanent: yes
    state: enabled
  loop:
    - http
    - https
  notify: reload firewalld

- name: Print Success Message
  ansible.builtin.debug:
    msg: "Firewall updated - ports 80 and 443 are now open."
